# ------------------------
# Node.js
# ------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------
# Environment Variables
# ------------------------
.env
*.pem
!mock-cert.pem

# ------------------------
# Python
# ------------------------
**/venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.log
*.egg-info/

# ------------------------
# FastAPI
# ------------------------
*.log

# ------------------------
# IDEs & OS
# ------------------------
.idea/
.vscode/
.DS_Store

# Datasets
*.csv
*.tsv

# Jupyter Notebook ve checkpoints
.ipynb_checkpoints/