node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env
coverage
lib
# Python virtual environments

**/venv/
venv/
backend/app/venv/

# Bytecode
__pycache__/
*.py[cod]
*.pyo

# FastAPI/uvicorn generated
*.log



# IDE and system files
.idea/
.DS_Store

# Logs
*.log